.main-content{
  padding: 15vh;

}

h1{
  text-align: center;
  font-family:'Raleway' , sans-serif; 
  font-size: 38px;
  font-style: Extra-Bold;
  color: #231f20;
}

h2{
  font-family:'Raleway' , sans-serif; 
  font-size: 28px;
  font-style: Semi-Bold;
  color: #231f20;
}

p{
  font-family: 'Raleway' , sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #231f20;
}

/*START NAVIGATION*/
.magic-menu{
  background-color: #231f20; 
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #231f20;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 28px 32px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Raleway' , sans-serif;
}
.topnav{
  display:flex;
  justify-content: flex-end;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgb(105, 200, 201);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.topnav-logo{
  position: absolute;
  left: 15vh;
}

#logo{
  width: 75px;
}

.magic-menu{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 15vh;
  padding-right: 15vh;
  background-color: #231f20;
}

@media screen and (max-width: 1024px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  #logo{
    width: 75px;
  }
    .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .topnav{
    flex-direction: column;
  }
  .magic-menu{
    padding-left: 5vh;
    padding-right: 5vh;
    background-color: #231f20;
  }
  .topnav-logo{
    left: 5vh;
  }
  .topnav{
    background-color: #231f20;
  }
  .topnav a{
    text-align: right;
  }
}


/*END NAVIGATION*/

/*START MAIN*/


.light{
  color: white;
}

#intro-page{
  height: 100vh;
  width:auto;
  background-color: #231f20;
}

#description{
  background-color:#231f20; 
}

.spacer{
  height: 5vh;
}

.three-by{
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}
.three-by li{
  width: 200px;
}

.two-by{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.two-by li{
  width: 300px;
}

.work-grid{
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline-start:0;
}

.work-grid li{
  width: 26vw;
  height: 26vw;
  /*background-color:#6ac9ca;*/
}
#featured-proj01{
  background-image: url("img/TAPH-livingRoom-cropped.jpeg");
  background-size:cover;
  background-position: left;
  background-repeat: no-repeat;
}
#featured-proj02{
  background-image: url("img/benign-front-page-cropped.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
#featured-proj03{
  background-image: url("img/graphic-design/all-three-la-croix-cans.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
.project-main{
  overflow: hidden;
}
.project-main:hover{
  overflow: hidden;
}
.project-main:hover div{
  transition-duration: .6s;
  visibility: visible;
  position: block;
  background-color: rgba(106, 201, 202,.85);
  width: 100%;
  height: 100vh;
}
.hidden-info{
  visibility: hidden;
  position: block;
  padding: 0px;
  padding-top: 100px;
  width: 100%;
}
.project-main:hover div h2, .project-main:hover div p{
  text-align: center;
  /*padding: 20px;*/
  color: #231f20;
}
.project-main:hover div h2{
  font-weight: bolder;
}
.categories{
  font-weight: bold;
}
.icon-trio{
  /*width:200px;*/
  display: flex;
  justify-content: center;
  align-content: center;
}
.icon-trio div{
  display: flex;
  justify-content: center;
}
.icon-trio img{
  height:200px;
}
.intro-content{
  padding-top: 5vh;
}
.intro-logo{
  display: flex;
  justify-content: center;
  width: 85vw;
  height: 100vh;
  position: absolute;
  top: 5vh;
}
.intro-logo div img{
  height: 100vh;
}
.blue{
  color: #6ac9ca;
}
.intro-text{
  /*padding-top: 5vh;*/
  text-align: center;
  overflow-wrap: break-word;
}
.intro-text h1{
  font-size: 68px;
  line-height: 0;
  overflow-wrap: break-word;
}
@media screen and (max-width: 600px){
  .icon-holder{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
  }
  .icon-holder li h2, .icon-holder li p{
    text-align: center;
  }
}
/*MAIN MOBILE*/
@media screen and (max-width: 1024px) {
  .main-content{
    padding: 5vh
  }
  .work-grid{
    padding-inline-start:0;
  }
  .work-grid li{
    width: 26vw;
    height: 26vw;
  }
  .intro-text{
    line-height: inherit;
  }
  .intro-text h1{
    font-size: 48px;
    line-height: inherit;
  }
  .intro-logo div img{
    padding-top:25vh;
    height: 50vh;
  }
  .intro-logo{
    overflow: hidden;
  }
  #intro-page{
    overflow: hidden;
    width: 100vw;
  }
  #page-wrap{
    width: 100vw;
    overflow: hidden;
  }
}
#social{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 75px;
  background-color:#231f20;
}
#linkedin i, #social i{
  color: #6ac9ca;
  font-size: 2em;
  padding: 20px
}
  
#feat-projects{
  border-bottom: dashed;
}

/*Icons Flicker*/
/*#icecream{
  animation: blink linear infinite 12s;
}
@keyframes blink{
  0%{opacity: 1;}
  4%{opacity: 1;}
  4.5%{opacity: 0.2;}
  5%{opacity: 0.2;}
  5.5%{opacity: 1;}
  6%{opacity: 1;}
  6.5%{opacity: 0.2;}
  7%{opacity: 0.2;}
  7.5%{opacity: 1;}
  17.5%{opacity: 0.9;}
  27.5%{opacity: 1;}
  37.5%{opacity: 0.9;}
  47.5%{opacity: 1;}
  57.5%{opacity: 0.9;}
  67.5%{opacity: 1;}
  77.5%{opacity: 0.9;}
  87.5%{opacity: 1;}
  97.5%{opacity: 0.9;}


}
#beer{
  animation: blink linear infinite 12s;
  animation-delay: 8s;
}
#coffee{
  animation: blink linear infinite 12s;
  animation-delay: 4s;
}*/

/*END MAIN*/


/*START WORK PAGE SPECIFIC*/
.project-page{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.project{
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  overflow-wrap: break-word;
  background-size: cover;
  background-position: 0, -75px;
  background-repeat: no-repeat;
  width: 40vw;
  height: 50vh;
}
#project01{
  background-image:url("img/TAPH-livingRoom-cropped.jpeg");
  /*background-position: bottom;*/
  width: 80vw;
}
#project02{
  background-image:url("img/future.PNG");
}
#project03{
  background-image: url("img/benign-front-page.PNG");
  background-size: 110%;
  background-position: -30px;
}
#project04{
  background-image: url("img/BizQuizLogo-02.png");
  background-position: center;
  background-size: contain;
}
#project05{
  background-image: url("img/pepsi-app-cropped.png");
  background-size: 110%;
  background-position: -30px;
}
#project06{
  background-image: url("img/MapBox-Map_Front-.png");
  /*background-size: 110%;*/
  background-position: center;
}
#project07{
background-image: url("img/waste-less_Sharable-content-cropped.png");
background-position: center;
}
#project08{
  background-image: url("img/dog.png");
}
#graphics{
  background-image: url("img/graphic-design/all-three-la-croix-cans.png");
}
#code{
  background-image: url("img/21-yo-ww.png");
}
.hidden{
  visibility: hidden;
  position: block;
  padding: 20px;
  width: 100%;
}
.project:hover div{
  transition-duration: .6s;
  visibility: visible;
  position: block;
  background-color: rgba(106, 201, 202,.85);
  width: 100%;
  height: 100vh;
}
.project:hover div h2, .project:hover div p{
  text-align: center;
  padding: 20px;
  color: #231f20;
}
.project:hover div h2{
  font-weight: bolder;
}
.categories{
  font-weight: bold;
}
a{
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .project{
    width: 80vw;
    height: 30vh;
  }
  .categories{
    padding: 0;
  }
  .project:hover div h2{
    padding: 0;
    margin-top: auto;
  }
}

/*END WORK PAGE*/

/*START PROJECT PAGES*/

.project-details{
  background-color: white;
  /*margin-top: 50vh;*/
  padding-top: 20px;
  z-index: 2;
  /*padding-bottom: 100px;*/
  /*height: 100vh;*/
}
.banner{
  height: 50vh;
  width: 85vw;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /*position: fixed;*/
  z-index: -1;
}

/*TAPH*/
#taphIMG{
  background-image: url("img/TAPH-livingRoom-cropped.jpeg");
}
/*END TAPH*/
/*BENIGN*/
#benignIMG{
  background-image: url("img/benign-front-page-cropped.png");
  background-size: contain;
}
/*END BENIGN*/
/*BIZQUIZ*/
#bizquizIMG{
  background-image: url("img/BizQuizLogo-02.png");
  background-size: contain;
}
/*END BIZQUIZ*/
/*FOODMAP*/
.alternating-banner{
  height: 50vh;
  width: 85vw;
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  position: absolute;
}
.toggle-image {
  position: absolute;
  transition: opacity 2s ease-in-out;
}
#foodmapIMG01{
  background-image: url("img/MapBox-Map_Back.png");
  background-size: contain;
  z-index: -2;
  opacity: 0;
}
#foodmapIMG02{
  background-image: url("img/MapBox-Map_Front-.png");
  background-size: contain;
  z-index: -1;
  opacity: 0;
}
#foodmapIMG01.show{
  opacity: 1;
} 

#foodmapIMG02.show{
  opacity: 1;
}
/*END FOODMAP*/
/*FUTURE*/
#futureIMG01{
  background-image: url("img/future.png");
  background-size: contain;
  z-index: -2;
  opacity: 0;
}
#futureIMG02{
  background-image: url("img/space.jpg");
  background-size: contain;
  z-index: -1;
  opacity: 0;
}
#futureIMG01.show{
  opacity: 1;
} 

#futureIMG02.show{
  opacity: 1;
}
/*END FUTURE*/
/*DESIGN OF ADOPTION*/
#HSIMG01{
  background-image: url("img/tags.jpg");
  background-size: contain;
  z-index: -3;
  opacity: 0;
}
#HSIMG02{
  background-image: url("img/tags-in-paper.jpg");
  background-size: contain;
  z-index: -2;
  opacity: 0;
}
#HSIMG03{
  background-image: url("img/dog.png");
  background-size: contain;
  z-index: -1;
  opacity: 0;
}
#HSIMG01.show{
  opacity: 1;
} 

#HSIMG02.show{
  opacity: 1;
}
#HSIMG03.show{
  opacity: 1;
}
/*END DESIGN FOR ADOPTION*/
/*PEPSI*/
#pepsiIMG01{
  background-image: url("img/Pepsi-Poster.png");
  background-size: contain;
  z-index: -2;
  opacity: 0;
}
#pepsiIMG02{
  background-image: url("img/pepsi-app.png");
  background-size: contain;
  z-index: -1;
  opacity: 0;
}
#pepsiIMG01.show{
  opacity: 1;
} 

#pepsiIMG02.show{
  opacity: 1;
}
/*END PEPSI*/
/*WASTE LESS*/
#WLFIMG01{
  background-image: url("img/waste-less_Sharable-content.png");
  background-size: contain;
  z-index: -3;
  opacity: 0;
}
#WLFIMG02{
  background-image: url("img/waste-less_Sharable-content1.png");
  background-size: contain;
  z-index: -2;
  opacity: 0;
}
#WLFIMG03{
  background-image: url("img/waste-less_Sharable-content2.png");
  background-size: contain;
  z-index: -1;
  opacity: 0;
}
#WLFIMG04{
  background-image: url("img/waste-less_Sharable-content3.png");
  background-size: contain;
  z-index: -1;
  opacity: 0;
}
#WLFIMG01.show{
  opacity: 1;
} 

#WLFIMG02.show{
  opacity: 1;
}
#WLFIMG03.show{
  opacity: 1;
}
#WLFIMG04.show{
  opacity: 1;
}
/*END WASTE LESS*/
/*END PROJECT PAGES*/

/*START GALLERY*/
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  height: 250vh;
}
.side-by-side{
  padding: 10px;
  /*height: 70vh;*/
  width: 20vw;
}
.lone-image{
  padding: 10px;
  /*height: 70vh;*/
  width: 20vw;
}
@media screen and (max-width: 1024px) {
  .gallery{
    height: auto;
  }
  .side-by-side, .lone-image{
    width: 75vw;
  }
}
/*END GALLERY*/
/*ABOUT PAGE*/
.main-content.worthwhile{
  padding-bottom: 0;
  padding-top: 0;
  /*padding-right: 200px;*/

}
#instagram-accounts{
  border-top: dashed;
}
#books{
  background-color: #231f20;
}
#me p{
  padding-left: 30px;
  padding-right: 30px;
}
.my-face{
  height: 50vh;

}
#books ul li p{
  color: #6ac9ca;
}

#books h1, #books ul{
  color:white;
}
#books ul li p b{
  color: white;
}
.contain-face{
  display: flex;
  justify-content: center;
  background-image: url("img/profile-croptop.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
}
#me h2{
  text-align: center;
}
@media screen and (max-width: 600px){
  .contain-face{
    height: 20vh;
  }
  #taphIMG{
    height: 20vh;
  }
}
@media screen and (min-width: 1024px) {
  .main-content.worthwhile{
    padding-right: 7vw;
  }
  #description .three-by{
    padding-right: 5vw;
  }
}
/*END ABOUT PAGE*/
/*CODE PAGE*/
#codeproject01{
  background-image:url("img/moving-icon.png");
  /*background-position: bottom;*/
  width: 80vw;
}
#codeproject02{
  background-image:url("img/solar-system.png");
}
#codeproject03{
  background-image: url("img/retro-game.png");
  background-size: 110%;
  background-position: -30px;
}
#codeproject04{
  background-image: url("img/generative-triangles.png");
  background-position: center;
  background-size: cover;
}
#codeproject05{
  background-image: url("img/21-yo-ww.png");
  background-size: 110%;
  background-position: -30px;
}
#codeproject06{
  background-image: url("img/fox-news.png");
  /*background-size: 110%;*/
  background-position: center;
}
/*END CODE PAGE*/